.mainTitle{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-weight: 900;
    font-size: 200px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.background{
    background-color: #306bc9;
    height: 100vh;
}

.start-btn{
    width: 100px;
    
}

.btn-div{
    justify-content: center;
}