.mainTitle{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-weight: 900;
    font-size: 200px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.background{
    background-color: #306bc9;
    height: 100vh;
}

.start-btn{
    width: 100px;
    
}

.btn-div{
    justify-content: center;
}

.header{
    background-color: #306bc9;
    padding: 5px;
    color: white;
    padding:5px;

}

.header-success{
    background-color: green;
    padding: 5px;
    color: white;
    padding:5px;

}

.header-fail{
    background-color: red;
    padding: 5px;
    color: white;
    padding:5px;

}

.header-content{
    display: flex;
    justify-content: space-between;

}

.easy{
    color: green;
}

.medium{
    color: yellow;
}

.hard{
    color: red;
}

.logo{
    width: 25%;
    margin-left: 37.5%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.tiny-logo{
    width: 40px;
}

.answer{
    width: 100%;
    margin-top: 10px;
}

.success{
    color: green;
}

.fail{
    color: red;
}

.title{
    text-align: center;
    font-weight: bold;
}

.end-text{
    text-align: center;
}

.timer{
    border: 10px solid #306bc9;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding-top: 40px;
    padding-left: 24px;
}

.timer-row{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}